@import url("https://fonts.googleapis.com/css?family=Barlow:800&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

a,
h1,
h2 {
  font-family: "DM Sans", sans-serif !important;
}

h1 {
  text-align: center;
  width: auto;
  height: 70px;
  border-color: black;
}

h1 img {
  height: auto;
  width: 10%;
}

/* footer */
div #faleconosco {
  background-color: #880e4f;
  padding: 10px 10px 10px 50px;
}

#faleconosco p a {
  color: #ffffff;
  font-size: 18pt;
  font-weight: 800;
}

#rodape {
  background-color: #212121;
  padding: 30px;
  text-align: center;
}
#rodape img {
  width: 20%;
  height: auto;
}
#rodape a {
  color: white;
  padding: 0px 10px 0px 0px;
}
#rodape ul li:hover {
  transform: scale(1.2);
}

#rodape ul {
  padding-bottom: 10px;
  display: inline-flex;
}

#contato,
#contato p a {
  color: #5e5e5e;
}
#contato p a:hover {
  color: #ffffff;
  transition: ease 2s;
}
/* fim do footer */

/* Index */
#apresentacao {
  width: 99%;
  background-color: #ffffff;
  margin-left: 8px;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
}
h2 {
  margin: 0px !important;
  padding: 10px;
}

/* Suites */
#modal1 img,
#modal2 img {
  width: 90%;
  height: auto;
}
.card-image img {
  cursor: pointer;
}

/* Reserva */
#sex_masculino,
#sex_feminino {
  margin-left: 80px !important;
  position: relative;
  
}

/* Gastronomia */
#gastronomia{
margin: 5% 9% ;
box-shadow: 5px 10px 100px #24242459;
}

.card .card-content .card-title{
  font-weight: 500;
}
