header .logo {
  width: 10%;
  height: auto;
}

header h1 {
  text-align: center;
}

header .painel {
  width: 100%;
  height: 500px;
}

#modal1 img,
#modal2 img {
  width: 90%;
  height: auto;
}
.card-image img {
  cursor: pointer;
}

#rodape {
  background-color: #212121;
  padding: 70px;
}
#contato {
  margin-top: 10px;
  background-color: #880e4f;
  padding: 5px;
}

#contato p a {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  transition: none;
  font-size: 15pt;
  padding-left: 160px;
  transition: none;
}
#contato p a:hover {
  text-decoration: underline;
  transition: ease 1s;
}

#rodape1 a {
  color: #ffffff;
  font-size: 15pt;
  font-family: "DM Sans", sans-serif;
  transition: none;
}

#rodape1 ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#rodape1 {
  display: inline-flex;
  padding-left: 100px;
}
#rodape1 ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  width: 10%;
}
